<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>TikZ</string>
	<key>uuid</key>
	<string>ED10FDB4-5A93-4DBD-8830-179C26781676</string>
</dict>
</plist>
